#restartBtn {
  position: relative;
  border: none;
  background: none;
  opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .restartIcon {
    font-size: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .restartIcon {
    font-size: 2rem;
  }
}